@keyframes header__square-pic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes kaufman__triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: kaufman__triangle 10s normal infinite linear;
  animation: header__square-pic 20s normal infinite linear;
}

